openapi: 3.2.0
info:
  title: Dataverse Licenses API
  description: Live OpenAPI served by Harvard Dataverse at https://dataverse.harvard.edu/openapi. Dataverse is open-source research data repository software authored by Harvard's own Institute for Quantitative Social Science (github.com/IQSS/dataverse); this document is the software's generic contract as emitted by the Harvard installation (build iqss-4). The deployment, the data, the DOI prefix (10.7910, DataCite provider harvardu) and the operations are Harvard's; the contract text is shared with every other Dataverse installation.
  version: 6.10.1
  contact:
    name: Harvard Dataverse Support
    email: support@dataverse.harvard.edu
    url: https://dataverse.harvard.edu
servers:
- url: https://dataverse.harvard.edu
  description: Harvard Dataverse production
tags:
- name: Licenses
paths:
  /licenses:
    get:
      operationId: Licenses_getLicenses
      responses:
        '200':
          description: OK
      tags:
      - Licenses
    post:
      operationId: Licenses_addLicense
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/default:
    get:
      operationId: Licenses_getDefault
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/default/{id}:
    put:
      operationId: Licenses_setDefault
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/{id}:
    get:
      operationId: Licenses_getLicenseById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
    delete:
      operationId: Licenses_deleteLicenseById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/{id}/:active/{activeState}:
    put:
      operationId: Licenses_setActiveState
      parameters:
      - name: activeState
        in: path
        required: true
        schema:
          type: boolean
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
  /licenses/{id}/:sortOrder/{sortOrder}:
    put:
      operationId: Licenses_setSortOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: sortOrder
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Licenses
x-operator: institution
x-provenance:
  generated: '2026-08-19'
  method: searched
  source: https://dataverse.harvard.edu/openapi
  note: Fetched verbatim; pristine copy in openapi/_original/. servers[], info.contact and the info.description operator note were added on fetch because the emitted document carries no servers[] block. No paths, parameters or schemas were altered.
