openapi: 3.2.0
info:
  title: Dataverse Save Auxiliary File With Version API
  description: Live OpenAPI served by Harvard Dataverse at https://dataverse.harvard.edu/openapi. Dataverse is open-source research data repository software authored by Harvard's own Institute for Quantitative Social Science (github.com/IQSS/dataverse); this document is the software's generic contract as emitted by the Harvard installation (build iqss-4). The deployment, the data, the DOI prefix (10.7910, DataCite provider harvardu) and the operations are Harvard's; the contract text is shared with every other Dataverse installation.
  version: 6.10.1
  contact:
    name: Harvard Dataverse Support
    email: support@dataverse.harvard.edu
    url: https://dataverse.harvard.edu
servers:
- url: https://dataverse.harvard.edu
  description: Harvard Dataverse production
tags:
- name: saveAuxiliaryFileWithVersion
  description: Save Auxiliary File With Version
paths:
  /access/datafile/{fileId}/auxiliary/{formatTag}/{formatVersion}:
    post:
      tags:
      - saveAuxiliaryFileWithVersion
      summary: Save auxiliary file with version
      description: Saves an auxiliary file
      operationId: Access_saveAuxiliaryFileWithVersion
      parameters:
      - name: fileId
        in: path
        required: true
        schema:
          format: int64
          type: integer
      - name: formatTag
        in: path
        required: true
        schema:
          type: string
      - name: formatVersion
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: string
      responses:
        '200':
          description: File saved response
        '403':
          description: User not authorized to edit the dataset.
        '400':
          description: File not found based on id.
x-operator: institution
x-provenance:
  generated: '2026-08-19'
  method: searched
  source: https://dataverse.harvard.edu/openapi
  note: Fetched verbatim; pristine copy in openapi/_original/. servers[], info.contact and the info.description operator note were added on fetch because the emitted document carries no servers[] block. No paths, parameters or schemas were altered.
