openapi: 3.2.0
info:
  title: Dataverse Builtin Users API
  description: Live OpenAPI served by Harvard Dataverse at https://dataverse.harvard.edu/openapi. Dataverse is open-source research data repository software authored by Harvard's own Institute for Quantitative Social Science (github.com/IQSS/dataverse); this document is the software's generic contract as emitted by the Harvard installation (build iqss-4). The deployment, the data, the DOI prefix (10.7910, DataCite provider harvardu) and the operations are Harvard's; the contract text is shared with every other Dataverse installation.
  version: 6.10.1
  contact:
    name: Harvard Dataverse Support
    email: support@dataverse.harvard.edu
    url: https://dataverse.harvard.edu
servers:
- url: https://dataverse.harvard.edu
  description: Harvard Dataverse production
tags:
- name: Builtin Users
paths:
  /builtin-users:
    post:
      operationId: BuiltinUsers_save
      parameters:
      - name: key
        in: query
        schema:
          type: string
      - name: password
        in: query
        schema:
          type: string
      - name: sendEmailNotification
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Builtin Users
  /builtin-users/{password}/{key}:
    post:
      operationId: BuiltinUsers_create
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: password
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Builtin Users
  /builtin-users/{password}/{key}/{sendEmailNotification}:
    post:
      operationId: BuiltinUsers_createWithNotification
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
      - name: password
        in: path
        required: true
        schema:
          type: string
      - name: sendEmailNotification
        in: path
        required: true
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Builtin Users
  /builtin-users/{username}/api-token:
    get:
      operationId: BuiltinUsers_getApiToken
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      - name: password
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Builtin Users
x-operator: institution
x-provenance:
  generated: '2026-08-19'
  method: searched
  source: https://dataverse.harvard.edu/openapi
  note: Fetched verbatim; pristine copy in openapi/_original/. servers[], info.contact and the info.description operator note were added on fetch because the emitted document carries no servers[] block. No paths, parameters or schemas were altered.
