openapi: 3.2.0
info:
  title: Dataverse Notifications API
  description: Live OpenAPI served by Harvard Dataverse at https://dataverse.harvard.edu/openapi. Dataverse is open-source research data repository software authored by Harvard's own Institute for Quantitative Social Science (github.com/IQSS/dataverse); this document is the software's generic contract as emitted by the Harvard installation (build iqss-4). The deployment, the data, the DOI prefix (10.7910, DataCite provider harvardu) and the operations are Harvard's; the contract text is shared with every other Dataverse installation.
  version: 6.10.1
  contact:
    name: Harvard Dataverse Support
    email: support@dataverse.harvard.edu
    url: https://dataverse.harvard.edu
servers:
- url: https://dataverse.harvard.edu
  description: Harvard Dataverse production
tags:
- name: Notifications
paths:
  /notifications/all:
    get:
      operationId: Notifications_getAllNotificationsForUser
      parameters:
      - name: inAppNotificationFormat
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        schema:
          format: int32
          type: integer
      - name: offset
        in: query
        schema:
          format: int32
          type: integer
      - name: onlyUnread
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedEmails:
    get:
      operationId: Notifications_getMutedEmailsForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedEmails/{typeName}:
    put:
      operationId: Notifications_muteEmailsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
    delete:
      operationId: Notifications_unmuteEmailsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedNotifications:
    get:
      operationId: Notifications_getMutedNotificationsForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedNotifications/{typeName}:
    put:
      operationId: Notifications_muteNotificationsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
    delete:
      operationId: Notifications_unmuteNotificationsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/unreadCount:
    get:
      operationId: Notifications_getUnreadNotificationsCountForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/{id}:
    delete:
      operationId: Notifications_deleteNotificationForUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/{id}/markAsRead:
    put:
      operationId: Notifications_markNotificationAsReadForUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Notifications
x-operator: institution
x-provenance:
  generated: '2026-08-19'
  method: searched
  source: https://dataverse.harvard.edu/openapi
  note: Fetched verbatim; pristine copy in openapi/_original/. servers[], info.contact and the info.description operator note were added on fetch because the emitted document carries no servers[] block. No paths, parameters or schemas were altered.
