openapi: 3.2.0
info:
  title: Dataverse Mydata API
  description: Live OpenAPI served by Harvard Dataverse at https://dataverse.harvard.edu/openapi. Dataverse is open-source research data repository software authored by Harvard's own Institute for Quantitative Social Science (github.com/IQSS/dataverse); this document is the software's generic contract as emitted by the Harvard installation (build iqss-4). The deployment, the data, the DOI prefix (10.7910, DataCite provider harvardu) and the operations are Harvard's; the contract text is shared with every other Dataverse installation.
  version: 6.10.1
  contact:
    name: Harvard Dataverse Support
    email: support@dataverse.harvard.edu
    url: https://dataverse.harvard.edu
servers:
- url: https://dataverse.harvard.edu
  description: Harvard Dataverse production
tags:
- name: Mydata
paths:
  /mydata/retrieve:
    get:
      operationId: DataRetrieverAPI_retrieveMyDataAsJsonString
      parameters:
      - name: dataset_valid
        in: query
        schema:
          type: array
          items:
            type: boolean
      - name: dvobject_types
        in: query
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DType'
      - name: filter_validities
        in: query
        schema:
          type: boolean
      - name: fq
        in: query
        schema:
          type: array
          items:
            type: string
      - name: metadata_fields
        in: query
        schema:
          type: array
          items:
            type: string
      - name: mydata_search_term
        in: query
        schema:
          type: string
      - name: order
        in: query
        schema:
          type: string
      - name: published_states
        in: query
        schema:
          type: array
          items:
            type: string
      - name: role_ids
        in: query
        schema:
          type: array
          items:
            format: int64
            type: integer
      - name: selected_page
        in: query
        schema:
          format: int32
          type: integer
      - name: show_collections
        in: query
        schema:
          type: boolean
      - name: sort
        in: query
        schema:
          type: string
      - name: userIdentifier
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      tags:
      - Mydata
  /mydata/retrieve/collectionList:
    get:
      operationId: DataRetrieverAPI_retrieveMyCollectionList
      parameters:
      - name: userIdentifier
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Mydata
components:
  schemas:
    DType:
      enum:
      - Dataverse
      - Dataset
      - DataFile
      type: string
x-operator: institution
x-provenance:
  generated: '2026-08-19'
  method: searched
  source: https://dataverse.harvard.edu/openapi
  note: Fetched verbatim; pristine copy in openapi/_original/. servers[], info.contact and the info.description operator note were added on fetch because the emitted document carries no servers[] block. No paths, parameters or schemas were altered.
