openapi: 3.2.0
info:
  title: Dataverse Pids API
  description: Live OpenAPI served by Harvard Dataverse at https://dataverse.harvard.edu/openapi. Dataverse is open-source research data repository software authored by Harvard's own Institute for Quantitative Social Science (github.com/IQSS/dataverse); this document is the software's generic contract as emitted by the Harvard installation (build iqss-4). The deployment, the data, the DOI prefix (10.7910, DataCite provider harvardu) and the operations are Harvard's; the contract text is shared with every other Dataverse installation.
  version: 6.10.1
  contact:
    name: Harvard Dataverse Support
    email: support@dataverse.harvard.edu
    url: https://dataverse.harvard.edu
servers:
- url: https://dataverse.harvard.edu
  description: Harvard Dataverse production
tags:
- name: Pids
paths:
  /pids:
    get:
      operationId: Pids_getPid
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/providers:
    get:
      operationId: Pids_getPidProviders
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/providers/{persistentId}:
    get:
      operationId: Pids_getPidProviderId
      parameters:
      - name: persistentId
        in: path
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/unreserved:
    get:
      operationId: Pids_getUnreserved
      parameters:
      - name: persistentId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/{id}/delete:
    delete:
      operationId: Pids_deletePid
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
  /pids/{id}/reserve:
    post:
      operationId: Pids_reservePid
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Pids
x-operator: institution
x-provenance:
  generated: '2026-08-19'
  method: searched
  source: https://dataverse.harvard.edu/openapi
  note: Fetched verbatim; pristine copy in openapi/_original/. servers[], info.contact and the info.description operator note were added on fetch because the emitted document carries no servers[] block. No paths, parameters or schemas were altered.
